<h2>Most Recent Games Played </h2>
<table class='table table-condensed'>

<% recent.each do |game| %>
  <tr rowspan='3'>
    <!-- updated_at.strftime("%m/%d/%Y") -->
    <td><%= (game[:date]).strftime('%m/%d/%Y') %> </td>
    <td><%= game[:gameMode] %> </td>
    <td>
      <p><%= image_tag(game[:champion_image]) %> </p>
      <p><%= game[:champion] %> </p>
    </td>
    <td>
      <p><%= game[:championskilled] %>/<%= game[:deaths] %>/<%= game[:assists] %> </p>
      <p>K/D/A</p>
    </td>
    <td><%= game[:totalDamageDealtToChampions] %> Damage Dealt
    <%= game[:killingsprees] %> Killing Sprees
    <%= game[:largestMultiKill] %> Largest Multikill
    <p><%= game[:crowdControl] %> Crowd Control  <%= game[:totalHeal] %> total healed </p>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <%= image_tag(game[:item0]) %>
      <%= image_tag(game[:item1]) %>
      <%= image_tag(game[:item2]) %>
      <%= image_tag(game[:item3]) %>
      <%= image_tag(game[:item4]) %>
      <%= image_tag(game[:item5]) %>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <%= gold_display(game[:gold]) %>
      <%= game[:gold] %> Gold
    </td>
    <td><%= game[:turretsKilled] %> Turret(s) Takedown </td>
    <td> <%= did_you_win(game[:win]) %> </td>
  </tr>
<% end  %>
</table>
