<h2>Most Recent Games Played </h2>
<table class='table table-striped'>

<% recent.each do |game| %>
  <tr rowspan='3'>
    <td>
      <p><%= (game[:date]).strftime('%m/%d/%Y %l:%M %p') %></p>
      <p>Game Length: <%= convert_playtime(game[:timePlayed]) %></p>
    </td>
    <td><%= game[:gameMode] %> </td>
    <td>
      <p><%= image_tag(game[:champion_image]) %> </p>
      <p><%= game[:champion] %> </p>
    </td>
    <td>
      <p><%= game[:championskilled] %>/<%= game[:deaths] %>/<%= game[:assists] %> </p>
      <p>K/D/A</p>
    </td>
    <td>
      <p><%= game[:totalDamageDealtToChampions] %> Damage Dealt </p>
      <p><%= game[:killingsprees] %> Killing Spree(s) </p>
      <p>Largest Multikill: <%= game[:largestMultiKill] %> </p>
      <p><%= game[:crowdControl] %> Crowd Control </p>
      <p><%= game[:totalHeal] %> Total Healed </p>
    </td>
    <td>
      <%= image_tag(game[:item0]) %>
      <%= image_tag(game[:item1]) %>
      <%= image_tag(game[:item2]) %>
      <%= image_tag(game[:item3]) %>
      <%= image_tag(game[:item4]) %>
      <%= image_tag(game[:item5]) %>
    </td>

    <td>
      <%= gold_display(game[:gold]) %>
      <%= game[:gold] %> Gold
    </td>
    <td><%= game[:turretsKilled] %> Turret(s) Takedown </td>
    <td> <%= did_you_win(game[:win]) %> </td>
  </tr>
<% end  %>
</table>
