<h2>Most Recent Games Played </h2>
<table class='table table-condensed'>
  <th> </th>
  <th> </th>
  <th> </th>
  <th> </th>
  <th> Damage Dealt </th>
  <th> Killing Spree </th>
  <th> Largest Multikill </th>

<% recent.each do |game| %>
  <tr>
    <td><%= game[:date] %> </td>
    <td><%= game[:gameMode] %> </td>
    <td>
      <p><%= image_tag(game[:champion_image]) %> </p>
      <p><%= game[:champion] %> </p>
    </td>
    <td>
      <p><%= game[:championskilled] %>/<%= game[:deaths] %>/<%= game[:assists] %> </p>
      <p>K/D/A</p>
    </td>
    <td><%= game[:totalDamageDealtToChampions] %> </td>
    <td><%= game[:killingsprees] %> </td>
    <td><%= game[:largestMultiKill] %> </td>
  </tr>
  <tr>
    <td colspan="5">
      <%= image_tag(game[:item0]) %>
      <%= image_tag(game[:item1]) %>
      <%= image_tag(game[:item2]) %>
      <%= image_tag(game[:item3]) %>
      <%= image_tag(game[:item4]) %>
      <%= image_tag(game[:item5]) %>
    </td>
    <td><%= game[:crowdControl] %> Crowd Control </td>
    <td><%= game[:totalHeal] %> total healed </td>
  </tr>
  <tr>
    <td colspan="3">
      <%= gold_display(game[:gold]) %>
      <%= game[:gold] %> Gold
    </td>
    <td><%= game[:turretsKilled] %> Turret(s) Takedown </td>
    <td> <%= did_you_win(game[:win]) %> </td>
  </tr>
<% end  %>
</table>
