<h1>Your Summary</h1>
<div class='row'>
  <div class="col-md-6">
    <h2>Average Over <%= @recent.count %> Games</h2>
    <p> <%= winning_image(@recent_summary[:win]) %> Winning <%= @recent_summary[:win] %>% of the Time </p>
    <p> <%= image_tag('skull.jpg', size: '63x64')%> <%= @recent_summary[:championskilled] %> Kills </p>
    <p> <%= image_tag('coin.jpg', size: '42x64') %> Gold <%= @recent_summary[:gold] %> </p>
    <p> <%= image_tag('x.png', size: '64x63')%>  <%= @recent_summary[:deaths] %> Deaths </p>
    <p> <%= image_tag('handshake.png', size: '64x32') %> <%= @recent_summary[:assists] %> Assists </p>
    <p> <%= image_tag('explosion.png', size: '64x58') %> <%= @recent_summary[:totalDamageDealtToChampions] %> Damage Dealt </p>
  </div>
  <div class="col-md-6">
    <h2>All Time Summary</h2>
    <table class='table'>
      <th>Mode </th>
      <th>Wins/Kills/Assists </th>
      <tr>
      <% @summary.each do |set| %>
        <td><%= set["playerStatSummaryType"] %> </td>
        <td><%= set["wins"] %> / <%= set["aggregatedStats"]["totalChampionKills"] %> / <%= set["aggregatedStats"] ["totalAssists"]%> </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<%= render partial: 'shared/game', locals: {recent: @recent} %>
