<h1>Summoner Profile </h1>
<h2>
  <%= @summoner[:icon] %>
  <%= @summoner[:screen_name] %>
  Level <%= @summoner[:level] %>
</h2>

<h1>  <%= @summoner[:screen_name] %>'s Summary</h1>

<table class='table'>
  <th>Type </th>
  <th>Wins </th>
  <th>Total Champion Kills </th>
  <th>Total Assists </th>
  <tr>
  <% @summary.each do |set| %>
    <td><%= set["playerStatSummaryType"] %> </td>
    <td><%= set["wins"] %> </td>
    <td><%= set["aggregatedStats"]["totalChampionKills"] %> </td>
    <td><%= set["aggregatedStats"] ["totalAssists"]%> </td>
  </tr>
  <% end %>
</table>

<table class='table'>
  <th> Mode </th>
  <th>Your Champion </th>
  <th> Mode </th>
  <th> Mode </th>

</table>

recent
<%= @recent %>
